body{
	background-color: #c9b48f;
	margin: 0px;
}
@font-face{
	font-family: HV Simplicite;
	src: url("../tipografias/HV Simplicite Bold.otf");
}
@font-face{
	font-family: Lemon Melon;
	src: url("../tipografias/LemonMelon.ttf");
}
@font-face{
	font-family: Geomanist;
	src: url("../tipografias/Geomanist.otf");
}
@font-face{
	font-family: Omega Sans;
	src: url("../tipografias/OmegaSansRegular.ttf");
}
@font-face{
	font-family: Sprint Sans;
	src: url("../tipografias/SprintSansRegular.otf");
}
nav{
	width: 100%;
	position: fixed;
	background-color: #201f1f;
	padding: 08px 0px;
	font-family: HV Simplicite;
}
ul{
	text-align: right;
	padding-right: 30px;
}
nav ul li{
	display: inline-block;
	padding: 10px 0px;
}
a{
	font-size: 20px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding-right: 30px;
	margin-left: 3px;
}
a:hover{
	color: yellow;
}
.titulo{
	font-family: Lemon Melon;
	font-size: 50px;
	font-weight: bold;
	justify-content: right;
	margin-top: 1.2em;
	margin-left: 18.6em;
	color: black;
}
.cafe{
	margin-top: -6em;
}
.integrantes{
	display: flex;
	justify-content: center;
}
.integrantes p{
	margin: 30px;
	font-family: Geomanist;
	font-size: 20px ;
	margin-top: 10px;
}
.derechos{
	text-align: center;
	margin-top: -20px;
	font-family: Omega Sans;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
}
.rustik{
	margin-top: 2em;
}